<!-- begin templates/login/login.html -->
<div class="fade-in fade-out" id="login_page">
<span class="red"
      hx-get="/blank"
      hx-trigger="click"
      hx-target="#pages"
      hx-swap="innerHTML swap:175ms">
    <p align="right">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </p>
</span>
<div>
    <form id="login_form"
          hx-post="/login_request"
          hx-target="#login_form"
          hx-swap="innerHTML" >
        <input type="text" title="username" name="username" placeholder="username" required/>
        <input type="password" title="username" name="password" placeholder="password" required />
        <button type="submit">Login</button>
    </form>
</div>
<hr/>
    <p></p>
</div>

<!-- end templates/login/login.html -->

