<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>418</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
    <div class="is-flex is-justify-content-center is-align-items-center" style=" height: 100vh;">
      <div class="has-text-centered">
        <h1 class="is-size-1 has-text-weight-bold has-text-primary">418</h1>
        <p class="is-size-5 has-text-weight-medium"> <span class="has-text-success">Ohh yes!</span> I’m a teapot.</p>

        <p class="is-size-6 mb-2">
          The requested entity body is short and stout. Tip me over and pour me out.
        </p>
        <p class="is-size-8 mb-2">

        </p>
        <a href="/" class="button is-primary">Go Home</a>
      </div>
    </div>
  </body>
</html>