<!-- begin templates/about.html -->
<div class="fade-in fade-out" id="about_page">
<span class="has-text-danger"
      hx-get="/blank"
      hx-trigger="click"
      hx-target="#pages"
      hx-swap="innerHTML swap:175ms">
    <p align="right">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </p>
</span>
    <h1 class="title">About</h1>
    <div class="content">
        <p>gallepy is a simple gallery that I made in an atempt to learn python, flask and htmx.</p>
        <p>To use it, simply put your photos on the gallery folder and that's it!</p>
        <p>It has some features, like:</p>
        <ul>
            <li>Simple to set up and use</li>
            <li>Thumbnails are created for each image automatically</li>
            <li>Create albums with permissions per user</li>
            <li>Lazy loading with infinite scroll</li>
            <li>Smooth CSS animations</li>
            <li>Made with Bulma CSS</li>
        </ul>
    </div>
    <hr/>
    
</div>

<!-- end templates/about.html -->

