{% extends "_baseof.html" %}
{% block main %}
<div id="main_div">
    <!-- begin templates/index.html -->
    <div class="fade-in fade-out" id="pages"></div>
    <div class="pswp-gallery" id="gallery"
         hx-get="/gallery"
         hx-trigger="load"
         hx-target="this"
         hx-swap="outerHTML settle:175ms">
    </div>
</div>

<!-- htmx triggers -->
<div hx-trigger="logout from:body"
     hx-get="/gallery"
     hx-target="#gallery"
     hx-swap="outerHTML settle:175ms">
</div>

<div hx-trigger="logout from:body"
     hx-get="/navbar"
     hx-target="#navbar"
     hx-swap="innerHTML">
</div>

<div hx-trigger="login from:body"
     hx-get="/gallery"
     hx-target="#gallery"
     hx-swap="outerHTML settle:175ms">
</div>

<div hx-trigger="login from:body"
     hx-get="/backoffice"
     hx-target="#pages"
     hx-swap="innerHTML">
</div>

<div hx-trigger="login from:body"
     hx-get="/navbar"
     hx-target="#navbar"
     hx-swap="innerHTML">
</div>


<!-- end templates/index.html -->
{% endblock main %}

