<!-- begin templates/about.html -->
<div class="fade-in fade-out" id="about_page">
<span class="red"
    hx-get="/blank"
    hx-trigger="click"
    hx-target="#pages"
    hx-swap="innerHTML swap:175ms">
    <p align="right">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </p>
</span>
<p>gallepy is a simple gallery made with python and htmx. I made it in an atempt to learn flask and htmx. </p>
<p>To use it, simply put your photos on the gallery folder and that's it!</p>

 <p>It has some features, like:</p>
 <ul>
     <li>Thumbnails are created for each image automatically</li>
     <li>Lazy loading</li>
     <li>Infinite scroll</li>
     <li>Smooth CSS animations</li>
     <li>No javascript! (apart from htmx and hyperscript)</li>
</ul>
    <p></p>
<hr/>
</div>

<!-- end templates/about.html -->

