<script type="module">
    import PhotoSwipeLightbox from '/static/PhotoSwipe-5.4.2/dist/photoswipe-lightbox.esm.js';
    const options = {
      gallery:'#gallery',
      children:'a',
      pswpModule: () => import('/static/PhotoSwipe-5.4.2/dist/photoswipe.esm.js'),
      mainClass: 'pswp-with-perma-preloader',
    };
    const lightbox = new PhotoSwipeLightbox(options);
    lightbox.on('uiRegister', function() {
      lightbox.pswp.ui.registerElement({
        name: 'download-button',
        order: 8,
        isButton: true,
        tagName: 'a',

        // SVG with outline
        html: {
          isCustomSVG: true,
          inner: '<path d="M20.5 14.3 17.1 18V10h-2.2v7.9l-3.4-3.6L10 16l6 6.1 6-6.1ZM23 23H9v2h14Z" id="pswp__icn-download"/>',
          outlineID: 'pswp__icn-download'
        },
        onInit: (el, pswp) => {
          el.setAttribute('download', '');
          el.setAttribute('target', '_blank');
          el.setAttribute('rel', 'noopener');

          pswp.on('change', () => {
            console.log('change');
            el.href = pswp.currSlide.data.src;
          });
        }
      });
    });
    lightbox.init();
</script>

<div class="gallery" id="gallery">
    {% if image_list == []  %}
        <div class="content">
        No images available.
        </div>
    {% endif %}
    {% for image in image_list %}
        <a class="gallery-img" href="{{image.image_path}}"
           hx-get="/image/thumbnail/{{image.id}}"
           hx-trigger="revealed"
           hx-target="this"
           hx-swap="outerHTML"
           data-pswp-width="{{image.image_width}}"
           data-pswp-height="{{image.image_height}}"
           target="_blank">
            <img class="thumbnail htmx-indicator" alt="loading {{image.name}}"
                 src="{{ url_for('static', filename='loading_bars.svg') }}"
                 width="256">
        </a>
    {% endfor %}
</div>

