<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="">
      <img src="/static/favicon.ico" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
        _="on click toggle .is-active on me
           then toggle .is-active on #navbarMain">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarMain" class="navbar-menu">
    <div class="navbar-start">
      <a id="btn_about" class="navbar-item"
         href=""
         hx-get="/about"
         hx-trigger="click"
         hx-target="#pages"
         hx-swap="innerHTML settle:175ms">About</a>
      <a href="" class="navbar-item"
         hx-get="/gallery"
         hx-trigger="click"
         hx-target="#gallery"
         hx-swap="outerHTML settle:175ms">Gallery</a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
            {% if g.user %}
              <a id="btn_menu" class="button is-info"
                 hx-trigger="click"
                 hx-get="/backoffice"
                 hx-target="#pages"
                 hx-swap="innerHTML">{{g.user["username"]}}</a>
            {% else %}
              <a id="btn_login" class="button is-primary"
               href=""
               align="right"
               hx-get="/login"
               hx-trigger="click"
               hx-target="#pages"
               hx-swap="innerHTML settle:175ms">Login</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>
