<!-- begin templates/login/logout.html -->
<div class="fade-in fade-out" id="login_page">
<span class="has-text-danger"
      hx-get="/blank"
      hx-trigger="click"
      hx-target="#pages"
      hx-swap="innerHTML swap:175ms">
    <p align="right">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
        </svg>
    </p>
</span>
<div>
    <div class="notification fade-in fade-out" id="login_notification" _="">
        <button class="delete" _="on click remove #login_page"></button>
    <p>Logout successful! Have a nice day!</p>
    </div>

    <div hx-trigger="log from:body" hx-get="/gallery" hx-target="#gallery" ></div>
</div>
<hr/>
</div>
<!-- end templates/login/logout.html -->
